.GOTOJira_bubble {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 3px;
  border: solid 1px #ddd;
}

li

ul li {
  content: url("img/logo.png");
}